<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/categories.css}" rel="stylesheet" type="text/css"/>
    <title>Jesse's Random Review Site</title>
</head>
<div class="grid-container">
    <header>
        <div class="navbar">
        </div>
    </header>
    <body>
        <div class="title">
            <h1>Jesse's Random Review Site:</h1>
        </div>
        <div class="main">
            <h2>Categories:</h2>
            <h3 th:each="category:${categories}">
                <a th:href="@{'/categories/'+${category.categoryName}}"
                 th:text="${category.categoryName}">
                 </a>
            </h3>
        </div>
    </body>
        <div class="footer">
            <small>& copy Jesse DeWitt 2020</small>
    </div>
</div>
</html>